div {
  display:table-cell;
  vertical-align: middle;
}

ol {
  width: 440px;
  height:440px;
  margin: 0 auto;
  padding: 50px;
}

li {
  /*width: 136px;*/
  /*height: 136px;*/
  float: left;
  margin: 5px;
  padding: 0;
  /*background-color: red;*/
  list-style: none;
  text-align:center;
  font-size: 3em;
}

.square {
  /*background-color: lightblue;*/
  transition: width 2s, height 2s, transform 2s;
  border-radius: 100%;
  
}

.blank {
  opacity: 0;
  transform: rotate(360deg);
}

